In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/diamonds.csv',index_col=0)

In [4]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
df[['carat','price']].corr().iloc[0,1]

0.9215913011935697

In [6]:
from scipy import stats

In [9]:
H_prop =df[df.color == 'H']
static , pv = stats.ttest_1samp(H_prop['price'], 3932)

if pv<0.05 :
    hypo = False
else:
    hypo = True
    
print(static)
print(pv)
print(hypo)

11.988997411117696
7.569973305218302e-33
False

In [12]:
D = df[df['color'] == 'D']
F = df[df['color'] == 'F']
G = df[df['color'] == 'G']

levene = stats.levene(F['price'], D['price'], G['price'])
fligner =stats.fligner(F['price'], D['price'], G['price'])
bartlett =stats.bartlett(F['price'], D['price'], G['price'])

print(bartlett)
print(fligner)
print(levene)

BartlettResult(statistic=289.14364432535103, pvalue=1.6340125810503293e-63)
FlignerResult(statistic=494.64591695585733, pvalue=3.881538382653518e-108)
LeveneResult(statistic=118.97521469312785, pvalue=3.557425577381817e-52)