In [30]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)

In [15]:
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [12]:
def minmax(X):
    return (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))

In [16]:
a=df['qsec']
a=minmax(a)
print(a)
print(len(a[a>0.5]))

Mazda RX4              0.233333
Mazda RX4 Wag          0.300000
Datsun 710             0.489286
Hornet 4 Drive         0.588095
Hornet Sportabout      0.300000
Valiant                0.680952
Duster 360             0.159524
Merc 240D              0.654762
Merc 230               1.000000
Merc 280               0.452381
Merc 280C              0.523810
Merc 450SE             0.345238
Merc 450SL             0.369048
Merc 450SLC            0.416667
Cadillac Fleetwood     0.414286
Lincoln Continental    0.395238
Chrysler Imperial      0.347619
Fiat 128               0.591667
Honda Civic            0.478571
Toyota Corolla         0.642857
Toyota Corona          0.655952
Dodge Challenger       0.282143
AMC Javelin            0.333333
Camaro Z28             0.108333
Pontiac Firebird       0.303571
Fiat X1-9              0.523810
Porsche 914-2          0.261905
Lotus Europa           0.285714
Ford Pantera L         0.000000
Ferrari Dino           0.119048
Maserati Bora          0.011905
Volvo 142E             0.488095
Name: qsec, dtype: float64
9

In [24]:
scaler = MinMaxScaler()
b=scaler.fit_transform(df['qsec'].values.reshape(-1,1))
print(len(b[b>0.5]))

9

In [26]:
def stand(X):
    return (X - X.mean(axis=0)) / (X.std(axis=0))

In [28]:
c=df['qsec']
c=stand(c)
#print(c)
c_max=max(c)
c_min=min(c)
print(c_max)
print(c_min)

2.826754592962484
-1.8740102832334835

In [33]:
s_scaler = StandardScaler()
d=s_scaler.fit_transform(df['qsec'].values.reshape(-1,1))
d_max=max(d)
d_min=min(d)
print(d_max)
print(d_min)

[2.87198554]
[-1.90399635]

In [44]:
quantile1=df['wt'].quantile(0.25)
quantile2=df['wt'].quantile(0.75)
IQR = quantile2 - quantile1
o1 = quantile1-(IQR*1.5)
o2 = quantile2+(IQR*1.5)
#outlier=df[(df['wt']<o1) | (df['wt']>o2 )]
outlier = df.wt[(df.wt<= o1) | (df.wt >= o2)].values
print(outlier)

[5.25  5.424 5.345]

In [51]:
corResult=df.corr()[['mpg']][1:].sort_values('mpg',ascending=False)
print(corResult)

           mpg
drat  0.681172
vs    0.664039
am    0.599832
gear  0.480285
qsec  0.418684
carb -0.550925
hp   -0.776168
disp -0.847551
cyl  -0.852162
wt   -0.867659

In [69]:
df1=df.iloc[:,1:]
df1=stand(df1)

from sklearn.decomposition import PCA

pca = PCA(n_components=10)
pca_data=pca.fit_transform(df1)
principalDf = pd.DataFrame(data=pca_data, columns = ['component'+str(x) for x in range (10) ])
#pca.explained_variance_
pca.explained_variance_ratio_

array([0.57602174, 0.26496432, 0.05972149, 0.02695067, 0.02222501,
       0.02101174, 0.01329201, 0.00806816, 0.00536523, 0.00237963])

In [66]:
componentDf = pd.DataFrame(pca.explained_variance_ratio_,columns=['cumsumVariance']).cumsum().reset_index()
componentDf['index'] +=1
componentDf=componentDf.rename(columns={'index':'componentsCount'})
componentDf

   componentsCount  cumsumVariance
0                1        0.576022
1                2        0.840986
2                3        0.900708
3                4        0.927658
4                5        0.949883
5                6        0.970895
6                7        0.984187
7                8        0.992255
8                9        0.997620
9               10        1.000000

In [74]:
df['brand'] = pd.DataFrame(list(df.index.str.split(" ")))[0].values
df.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,brand
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,Mazda
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,Mazda
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,Datsun
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,Hornet
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,Hornet