In [1]:
import pandas as pd 
import sklearn
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression

In [2]:
import sklearn #collection of machine learning algorithms
print("scikit-learn version: {}". format(sklearn.__version__))

scikit-learn version: 0.24.2

In [2]:
X_train_path = 'data/X_train.csv'
X_test_path = 'data/X_test.csv'
y_train_path = 'data/y_train.csv'
 
X_train = pd.read_csv(X_train_path,encoding='cp949')
y_train = pd.read_csv(y_train_path, encoding='cp949')
X_test = pd.read_csv(X_test_path, encoding='cp949')

In [3]:
#cust_id 컬럼 삭제
X_train=X_train.drop('cust_id', axis=1)
y_train=y_train.drop('cust_id', axis=1)
X_test_id = X_test.loc[:,['cust_id']]
X_test=X_test.drop('cust_id', axis=1)

In [4]:
# loc는 컬럼명을 사용
#iloc는 인덱스 번호(숫자) 사용
X_train.loc[:,['주구매상품','주구매지점']]=X_train.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)
X_test.loc[:,['주구매상품','주구매지점']]=X_test.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)

In [5]:
X_train[['환불금액']]=X_train[['환불금액']].fillna(0)
X_test[['환불금액']]=X_test[['환불금액']].fillna(0)

In [6]:
#정규화
def minmax_norm(df):
    return (df - df.min()) / ( df.max() - df.min())
X_train=minmax_norm(X_train)
X_test=minmax_norm(X_test)

In [7]:
model= LogisticRegression()
model.fit(X_train,y_train)

D:\Anaconda\envs\minsu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [8]:
print(model.score(X_train,y_train))

0.6342857142857142

In [9]:
from sklearn.model_selection import cross_val_score, cross_validate

In [14]:
score = cross_val_score(model, X_train, y_train, scoring='accuracy', cv=3)
print(score)

[0.62639246 0.63496144 0.64408233]

D:\Anaconda\envs\minsu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
D:\Anaconda\envs\minsu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
D:\Anaconda\envs\minsu\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [10]:
pred = model.predict_proba(X_test)

In [11]:
pred=pd.DataFrame(pred)

In [12]:
pred=pred.iloc[:,1]

In [13]:
print(pred)

0       0.472973
1       0.178196
2       0.097157
3       0.328781
4       0.386725
          ...
2477    0.461731
2478    0.396695
2479    0.404361
2480    0.353963
2481    0.396466
Name: 1, Length: 2482, dtype: float64

In [14]:
y_test='1234.csv'
ans=pd.concat([X_test_id,pred],axis=1)
ans.to_csv(y_test,index=False)
ans

      cust_id         1
0        3500  0.472973
1        3501  0.178196
2        3502  0.097157
3        3503  0.328781
4        3504  0.386725
...       ...       ...
2477     5977  0.461731
2478     5978  0.396695
2479     5979  0.404361
2480     5980  0.353963
2481     5981  0.396466

[2482 rows x 2 columns]