In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

In [10]:
X_train_path = 'data/X_train.csv'
X_test_path = 'data/X_test.csv'
y_train_path = 'data/y_train.csv'
 
X_train = pd.read_csv(X_train_path,encoding='cp949')
y_train = pd.read_csv(y_train_path, encoding='cp949')
X_test = pd.read_csv(X_test_path, encoding='cp949')

In [11]:
#cust_id 컬럼 삭제
X_train=X_train.drop('cust_id', axis=1)
y_train=y_train.drop('cust_id', axis=1)
X_test_id = X_test.loc[:,['cust_id']]
X_test=X_test.drop('cust_id', axis=1)

In [13]:
X_train.loc[:,['주구매상품','주구매지점']]=X_train.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)
X_test.loc[:,['주구매상품','주구매지점']]=X_test.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)

In [14]:
X_train[['환불금액']]=X_train[['환불금액']].fillna(0)
X_test[['환불금액']]=X_test[['환불금액']].fillna(0)

In [15]:
#정규화
def minmax_norm(df):
    return (df - df.min()) / ( df.max() - df.min())
X_train=minmax_norm(X_train)
X_test=minmax_norm(X_test)

In [19]:
model = DecisionTreeClassifier(random_state=0,max_depth=10)
model.fit(X_train,y_train)
print(model.score(X_train,y_train))

0.7594285714285715

In [24]:
pred = model.predict_proba(X_test)
pred=pd.DataFrame(pred)
pred=pred.iloc[:,1]
print(pred)

0       0.000000
1       0.193548
2       0.000000
3       0.000000
4       0.238532
          ...
2477    0.587629
2478    0.396040
2479    1.000000
2480    0.478723
2481    1.000000
Name: 1, Length: 2482, dtype: float64

In [30]:
y_test='1234.csv'
ans=pd.concat([X_test_id,pred], axis=1)
ans.to_csv(y_test,index=False)
ans

      cust_id         1
0        3500  0.000000
1        3501  0.193548
2        3502  0.000000
3        3503  0.000000
4        3504  0.238532
...       ...       ...
2477     5977  0.587629
2478     5978  0.396040
2479     5979  1.000000
2480     5980  0.478723
2481     5981  1.000000

[2482 rows x 2 columns]

In [26]:
#의사결정나무 자세한 속성을 건드려서 정확도를 높여야함.
from sklearn.metrics import accuracy_score