In [1]:
import pandas as pd

In [2]:
y_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/y_train.csv')
X_train = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_train.csv',encoding='cp949')
test  = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/X_test.csv',encoding='cp949')

In [3]:
trainDf = pd.merge(y_train,X_train)
trainDf.head()

,cust_id,gender,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,0,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,1,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,1,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,0,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85

In [4]:
print(trainDf.isnull().sum())
print("------------------")
print(test.isnull().sum())

cust_id       0
gender        0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64
------------------
cust_id       0
총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [5]:
trainDf['환불금액'] = trainDf['환불금액'].fillna(0)
test['환불금액'] = test['환불금액'].fillna(0)

In [6]:
main_index = trainDf['주구매상품'].value_counts().index
print('주구매상품 유일값 수 ',len(main_index))
print('주구매상품 유일값 리스트 ',list(main_index))

주구매상품 유일값 수  42
주구매상품 유일값 리스트  ['기타', '가공식품', '농산물', '화장품', '시티웨어', '디자이너', '수산품', '캐주얼', '명품', '섬유잡화', '골프', '스포츠', '일용잡화', '육류', '모피/피혁', '남성 캐주얼', '구두', '건강식품', '차/커피', '아동', '피혁잡화', '축산가공', '주방용품', '셔츠', '젓갈/반찬', '주방가전', '트래디셔널', '남성정장', '생활잡화', '주류', '가구', '커리어', '대형가전', '란제리/내의', '식기', '액세서리', '침구/수예', '통신/컴퓨터', '보석', '남성 트랜디', '악기', '소형가전']

In [7]:
main_center =trainDf['주구매지점'].value_counts().index
print('주구매지점 유일값 수 ',len(main_center))
print('주구매지점 유일값 리스트 ',list(main_center))

주구매지점 유일값 수  24
주구매지점 유일값 리스트  ['본  점', '잠실점', '분당점', '부산본점', '영등포점', '일산점', '강남점', '광주점', '노원점', '청량리점', '대전점', '미아점', '부평점', '동래점', '관악점', '인천점', '안양점', '포항점', '대구점', '울산점', '센텀시티점', '전주점', '창원점', '상인점']

In [8]:
t= trainDf.copy()
#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.align.html

In [9]:
t.groupby('주구매지점').agg(['mean','count'])['총구매액'].sort_values('count',ascending=False).head(3)

               mean  count
주구매지점
본  점   1.023784e+08   1077
잠실점    8.377841e+07    474
분당점    7.318428e+07    436

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x=trainDf.drop(['cust_id','gender'],axis=1)
y=trainDf.gender

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
x.loc[:,['주구매상품','주구매지점']]=x.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)

In [14]:
x_dum = pd.get_dummies(x)
feature_name_lst= x_dum.columns

In [15]:
test_dum = pd.get_dummies(test)
test_dum.head()

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,주구매상품_가공식품,주구매상품_가구,...,주구매지점_안양점,주구매지점_영등포점,주구매지점_울산점,주구매지점_인천점,주구매지점_일산점,주구매지점_잠실점,주구매지점_전주점,주구매지점_창원점,주구매지점_청량리점,주구매지점_포항점
0,3500,70900400,22000000,4050000.0,13,1.461538,0.789474,26,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3501,310533100,38558000,48034700.0,90,2.433333,0.369863,3,0,0,...,0,0,0,0,0,1,0,0,0,0
2,3502,305264140,14825000,30521000.0,101,14.623762,0.083277,3,1,0,...,0,0,0,0,0,0,0,0,0,0
3,3503,7594080,5225000,0.0,5,2.000000,0.000000,47,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3504,1795790,1411200,0.0,3,2.666667,0.125000,8,0,0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
pd.set_option('display.max_rows', 5000)
missing_cols = set( x_dum.columns ) - set( test_dum.columns )
for c in missing_cols:
    test_dum[c] = 0
test_dum = test_dum[x_dum.columns]
test_dum.tail(100)

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
2382,30939300,6860000,0.0,0,0,9,2.000000,0.166667,27
2383,90434010,5975000,0.0,0,0,104,3.442308,0.575419,3
2384,197841000,44352000,38409000.0,0,0,13,1.615385,0.142857,25
2385,156181680,21850000,0.0,0,0,27,1.814815,0.265306,12
2386,296805000,40000000,44250000.0,0,0,13,1.538462,0.200000,20
2387,7201000,3996000,0.0,0,0,2,2.000000,0.750000,44
2388,157825140,8750000,7048400.0,0,0,183,3.322404,0.174342,1
2389,9765000,4882500,0.0,0,0,1,2.000000,1.000000,0
2390,763000,763000,0.0,0,0,1,1.000000,0.000000,0
2391,13025000,4377600,0.0,0,0,2,4.500000,1.000000,56
2392,1235000,1235000,0.0,0,0,1,1.000000,0.000000,0
2393,124129500,96000000,0.0,0,0,13,3.153846,0.365854,27
2394,44847790,11404800,0.0,0,0,9,5.777778,0.384615,33
2395,674350,264000,0.0,0,0,2,3.500000,0.000000,77
2396,23147140,11000000,0.0,0,0,10,2.000000,0.300000,32
2397,145024700,50400000,0.0,0,0,8,3.500000,0.071429,31
2398,349287880,110594000,135318600.0,0,0,46,2.239130,0.417476,7
2399,120082450,14950000,5338000.0,0,0,39,2.230769,0.275862,8
2400,321479600,52800000,10395000.0,0,0,35,1.800000,0.317460,10
2401,105570550,26325000,12233500.0,0,0,22,2.818182,0.370968,15
2402,32061000,12980000,15463000.0,0,0,12,2.166667,0.384615,26
2403,125638820,12350000,0.0,0,0,29,3.206897,0.526882,12
2404,394607050,20500000,7789600.0,0,0,68,2.117647,0.333333,5
2405,19186700,12288000,0.0,0,0,3,2.000000,0.333333,44
2406,83653600,20000000,0.0,0,0,9,7.444444,0.656716,30
2407,11254800,7950000,0.0,0,0,2,1.000000,0.000000,15
2408,885000,649000,0.0,0,0,1,2.000000,0.000000,0
2409,238246300,77000000,0.0,0,0,24,4.041667,0.278351,14
2410,20133000,7176000,0.0,0,0,5,2.000000,0.000000,53
2411,108117840,26280000,0.0,0,0,30,2.766667,0.228916,11
2412,52376850,21600000,5200000.0,0,0,16,3.875000,0.145161,17
2413,4343050,1422000,0.0,0,0,3,3.333333,0.000000,74
2414,48210110,9246000,0.0,0,0,18,1.500000,0.370370,14
2415,1418420,256500,0.0,0,0,3,7.333333,0.000000,44
2416,80728720,52200000,0.0,0,0,7,2.000000,0.428571,25
2417,833880,525000,0.0,0,0,1,3.000000,1.000000,0
2418,1664000,1600000,0.0,0,0,1,2.000000,1.000000,0
2419,888000,888000,0.0,0,0,1,1.000000,1.000000,0
2420,138444560,14250000,2700000.0,0,0,106,5.801887,0.286179,3
2421,278434890,47936000,85818000.0,0,0,69,2.666667,0.260870,5
2422,5371500,4560000,0.0,0,0,3,2.000000,0.333333,71
2423,444000,336000,0.0,0,0,2,1.500000,0.000000,44
2424,7087000,6487000,0.0,0,0,2,1.500000,0.666667,27
2425,156133200,35917200,100602800.0,0,0,39,1.487179,0.293103,8
2426,13576200,11968000,1100000.0,0,0,3,3.000000,0.111111,96
2427,154000,154000,0.0,0,0,1,1.000000,0.000000,0
2428,71414400,33810000,16440000.0,0,0,13,1.692308,0.045455,24
2429,375214450,27265000,58344000.0,0,0,79,2.670886,0.071090,4
2430,4772000,2208000,0.0,0,0,2,2.500000,0.200000,133
2431,126491800,36432000,0.0,0,0,22,1.272727,0.321429,13
2432,230000,220000,0.0,0,0,1,2.000000,0.000000,0
2433,554882500,89608000,158651000.0,0,0,51,2.078431,0.264151,6
2434,16150700,3797500,0.0,0,0,3,2.666667,0.000000,22
2435,40655250,3850000,0.0,0,0,26,1.653846,0.279070,13
2436,67057490,12120000,2720000.0,0,0,71,2.647887,0.324468,5
2437,365230000,164700000,0.0,0,0,4,1.750000,0.428571,64
2438,105535800,18900000,8804500.0,0,0,8,4.625000,0.351351,15
2439,14352000,14092000,0.0,0,0,2,1.500000,0.666667,29
2440,22025000,8125000,0.0,0,0,4,1.000000,0.000000,74
2441,32946880,6282500,0.0,0,0,41,2.853659,0.324786,8
2442,162689300,94300000,0.0,0,0,22,3.863636,0.282353,13
2443,1363200,320000,0.0,0,0,5,3.800000,0.684211,24
2444,326184290,52416000,18144000.0,0,0,30,3.533333,0.160377,12
2445,511187240,20042000,700000.0,0,0,79,5.227848,0.213075,4
2446,514383140,42090000,78588800.0,0,0,149,3.630872,0.273567,2
2447,529342510,45942000,3270000.0,0,0,85,3.635294,0.165049,4
2448,483000,483000,0.0,0,0,1,1.000000,1.000000,0
2449,62383180,12328000,0.0,0,0,27,2.814815,0.578947,13
2450,16377540,10920000,0.0,0,0,3,1.333333,0.250000,43
2451,3331040,1567500,0.0,0,0,5,3.800000,0.000000,62
2452,22799930,6026000,0.0,0,0,12,3.833333,0.108696,16
2453,145158200,50400000,0.0,0,0,25,2.600000,0.353846,13
2454,159346000,122400000,72380000.0,0,0,9,1.333333,0.250000,33
2455,285600,240000,0.0,0,0,1,3.000000,0.000000,0
2456,99857700,20250000,3950000.0,0,0,17,2.058824,0.542857,18
2457,7855000,4800000,0.0,0,0,3,1.333333,0.000000,47
2458,172934880,25584000,0.0,0,0,18,3.000000,0.425926,19
2459,10717800,33264000,33264000.0,0,0,4,1.250000,0.000000,32
2460,605630,250000,0.0,0,0,5,2.400000,0.000000,59
2461,137438000,27968000,0.0,0,0,44,3.159091,0.165468,7
2462,5916000,5916000,0.0,0,0,1,1.000000,0.000000,0
2463,202219630,33350000,43117500.0,0,0,48,1.937500,0.451613,6
2464,1610000,1540000,0.0,0,0,1,8.000000,1.000000,0
2465,194237580,175200000,3684000.0,0,0,22,1.772727,0.256410,14
2466,10500000,10500000,0.0,0,0,1,1.000000,1.000000,0
2467,1487500,1487500,0.0,0,0,1,1.000000,0.000000,0
2468,312000,300000,0.0,0,0,1,2.000000,0.000000,0
2469,758370,264000,0.0,0,0,7,2.714286,0.368421,35
2470,76996210,14375000,462000.0,0,0,24,1.916667,0.369565,14
2471,1080000,990000,0.0,0,0,1,2.000000,1.000000,0
2472,81140700,21336000,1471800.0,0,0,24,4.791667,0.200000,14
2473,10337500,3575000,0.0,0,0,4,2.750000,0.181818,51
2474,2666000,1776000,0.0,0,0,1,2.000000,1.000000,0
2475,10185000,9750000,0.0,0,0,1,2.000000,0.000000,0
2476,224899400,24200000,0.0,0,0,22,3.363636,0.310811,13
2477,82581500,23976000,0.0,0,0,8,1.750000,0.642857,40
2478,480000,480000,0.0,0,0,1,1.000000,0.000000,0
2479,260003790,25750000,0.0,0,0,19,3.736842,0.915493,18
2480,88991520,18120000,0.0,0,0,5,3.600000,0.444444,60
2481,623700,209000,0.0,0,0,2,5.000000,0.000000,31

In [17]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(x_dum)
x_dum = sc.transform(x_dum)
test_dum = sc.transform(test_dum)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(x_dum, y, test_size=0.3, random_state=60,stratify=y)

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
clf=RandomForestClassifier(max_depth=5, random_state=0, n_estimators=10)
clf.fit(X_train,y_train)

RandomForestClassifier(max_depth=5, n_estimators=10, random_state=0)

In [23]:
from sklearn.metrics import classification_report

In [25]:
y_pred = clf.predict(X_test)
report =classification_report(y_test, y_pred, target_names=['class 0', 'class 1'])
print(report)

              precision    recall  f1-score   support

     class 0       0.67      0.86      0.75       655
     class 1       0.56      0.30      0.39       395

    accuracy                           0.65      1050
   macro avg       0.62      0.58      0.57      1050
weighted avg       0.63      0.65      0.62      1050

In [26]:
from sklearn.metrics import roc_auc_score, roc_curve

In [27]:
lr_probs = clf.predict_proba(X_test)
lr_auc = roc_auc_score(y_test, lr_probs[:,1])
lr_auc

0.6465803459271426

In [28]:
from collections import Counter
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, cross_val_score, StratifiedKFold, learning_curve
import seaborn as sns

In [29]:
kfold = StratifiedKFold(n_splits=10)
random_state = 2
classifiers = []
classifiers.append(SVC(random_state=random_state))
classifiers.append(DecisionTreeClassifier(random_state=random_state))
classifiers.append(AdaBoostClassifier(DecisionTreeClassifier(random_state=random_state),random_state=random_state,learning_rate=0.1))
classifiers.append(RandomForestClassifier(random_state=random_state))
classifiers.append(ExtraTreesClassifier(random_state=random_state))
classifiers.append(GradientBoostingClassifier(random_state=random_state))
classifiers.append(MLPClassifier(random_state=random_state))
classifiers.append(KNeighborsClassifier())

cv_results = []
for classifier in classifiers :
    cv_results.append(cross_val_score(classifier, x_dum, y = y, scoring = "roc_auc", cv = kfold, n_jobs=4))

cv_means = []
cv_std = []
for cv_result in cv_results:
    cv_means.append(cv_result.mean())
    cv_std.append(cv_result.std())

cv_res = pd.DataFrame({"CrossValMeans":cv_means,"CrossValerrors": cv_std,"Algorithm":["SVC","DecisionTree","AdaBoost",
"RandomForest","ExtraTrees","GradientBoosting","MultipleLayerPerceptron","KNeighboors",]})

In [30]:
cv_res[['CrossValMeans','Algorithm']]

   CrossValMeans                Algorithm
0       0.614938                      SVC
1       0.547193             DecisionTree
2       0.582918                 AdaBoost
3       0.629468             RandomForest
4       0.633043               ExtraTrees
5       0.659742         GradientBoosting
6       0.641686  MultipleLayerPerceptron
7       0.597492              KNeighboors