In [1]:
import pandas as pd

In [2]:
X_train_path = 'data/X_train.csv'
X_test_path = 'data/X_test.csv'
y_train_path = 'data/y_train.csv'
 
X_train = pd.read_csv(X_train_path,encoding='cp949')
y_train = pd.read_csv(y_train_path, encoding='cp949')
X_test = pd.read_csv(X_test_path, encoding='cp949')

In [3]:
df=pd.merge(X_train,y_train)

In [4]:
df.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,gender
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17,0
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1,0
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16,1
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85,0

In [5]:
df['환불금액'] = df['환불금액'].fillna(0)

In [6]:
data =df.iloc[:,1:]
data.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,gender
0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17,0
1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1,0
2,3197000,1639000,0.0,남성 캐주얼,관악점,2,2.000000,0.000000,1,1
3,16077620,4935000,0.0,기타,광주점,18,2.444444,0.318182,16,1
4,29050000,24000000,0.0,보석,본 점,2,1.500000,0.000000,85,0

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
taget= data['gender']
data=data.iloc[:, :-1]
data.head()

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        0.0  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000        0.0      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000        0.0      보석  본  점     2  1.500000  0.000000    85

In [10]:
x,x_val,y,y_val = train_test_split(data,taget,test_size =0.3, random_state=0)

In [11]:
x.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
849,18913000,13275000,0.0,기타,본 점,2,2.000000,0.000000,49
820,23821000,21120000,0.0,섬유잡화,인천점,3,1.666667,0.000000,17
886,179507350,23164800,0.0,수산품,본 점,17,4.941176,0.440476,21
1288,145580,61040,0.0,농산물,분당점,1,5.000000,0.000000,0
414,248397800,26212500,3683000.0,골프,본 점,22,2.636364,0.034483,13

In [12]:
y.head()

849     0
820     0
886     0
1288    0
414     1
Name: gender, dtype: int64

In [13]:
x_val.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
1269,3303000,2772000,0.0,스포츠,영등포점,1,5.000000,0.000000,0
118,228654470,30000000,45308500.0,기타,노원점,69,2.681159,0.248649,5
2809,2161400,1982400,0.0,가공식품,일산점,2,3.500000,0.000000,0
2620,140784680,32366400,667000.0,골프,부산본점,20,2.100000,0.595238,16
1535,27157530,14160000,0.0,기타,강남점,7,3.000000,0.523810,34

In [15]:
y_val.head()

1269    0
118     0
2809    0
2620    1
1535    0
Name: gender, dtype: int64

In [16]:
print(x.shape)
print(y.shape)
print(x_val.shape)
print(y_val.shape)

(2450, 9)
(2450,)
(1050, 9)
(1050,)

In [18]:
from sklearn.preprocessing import LabelEncoder

x[['주구매상품','주구매지점']] = x[['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)
x.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
849,18913000,13275000,0.0,5,8,2,2.000000,0.000000,49
820,23821000,21120000,0.0,17,17,3,1.666667,0.000000,17
886,179507350,23164800,0.0,20,8,17,4.941176,0.440476,21
1288,145580,61040,0.0,9,11,1,5.000000,0.000000,0
414,248397800,26212500,3683000.0,3,8,22,2.636364,0.034483,13

In [21]:
x_val[['주구매상품','주구매지점']] = x_val[['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)
x_val.head()

D:\Anaconda\envs\minsu\lib\site-packages\pandas\core\frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
1269,3303000,2772000,0.0,21,14,1,5.000000,0.000000,0
118,228654470,30000000,45308500.0,5,3,69,2.681159,0.248649,5
2809,2161400,1982400,0.0,0,17,2,3.500000,0.000000,0
2620,140784680,32366400,667000.0,3,9,20,2.100000,0.595238,16
1535,27157530,14160000,0.0,5,0,7,3.000000,0.523810,34

In [ ]:
#scaler = MinMaxScaler()
# scaler = StandardScaler()
# scaler = RobustScaler()
# scaler = QuantileTransformer()

In [55]:
from sklearn.ensemble import RandomForestClassifier


model = RandomForestClassifier(max_depth=8, n_estimators=15, random_state=0)
model.fit(x,y)
print(model.score(x,y))

0.806530612244898

In [50]:
from sklearn.metrics import accuracy_score

In [51]:
x_val.head()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
1269,3303000,2772000,0.0,21,14,1,5.000000,0.000000,0
118,228654470,30000000,45308500.0,5,3,69,2.681159,0.248649,5
2809,2161400,1982400,0.0,0,17,2,3.500000,0.000000,0
2620,140784680,32366400,667000.0,3,9,20,2.100000,0.595238,16
1535,27157530,14160000,0.0,5,0,7,3.000000,0.523810,34

In [56]:
pred=model.predict(x_val)
pred=pd.DataFrame(pred)
#pred = pred.iloc[:,1]
print(pred)

      0
0     0
1     0
2     1
3     0
4     0
...  ..
1045  1
1046  0
1047  0
1048  1
1049  0

[1050 rows x 1 columns]

In [57]:
acc=accuracy_score(y_val,pred)
print(acc)

0.6266666666666667

In [58]:
from sklearn.ensemble import GradientBoostingClassifier

In [81]:
gb=GradientBoostingClassifier(random_state=0, learning_rate=0.1, n_estimators=100)

In [82]:
gb.fit(x,y)

GradientBoostingClassifier(random_state=0)

In [83]:
gb.score(x,y)

0.7355102040816327

In [84]:
from xgboost import XGBClassifier

In [85]:
xgb_clf=XGBClassifier()

In [86]:
xgb_clf.fit(x,y)

XGBClassifier()

In [87]:
xgb_clf.score(x,y)

0.7240816326530612

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report